.container {
  /* border: 2px solid red; */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: black;

  align-items: stretch;
  align-content: stretch;
}

.containerLeft {
  /* border: 2px solid black; */
  width: 20vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;

}

.containerCentral {
  /* border: 2px solid blue; */
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-left: 1px solid white;
  border-right: 1px solid white ;
  align-items: stretch;
  align-content: stretch;
}

.containerRight {
  /* border: 2px solid green; */
  width: 30vw;
  height: 100vh;
}

.logo {
  /* border: 2px solid yellow; */
  margin-left: 20px;
}

.h1 {
  color: white;
  margin-top: 10px;
  margin-left: 20px;
}

.logo2 {
  /* border: 2px solid yellow; */
  margin-left: 10px;
  display: flex;
  margin-left: 20px;
  margin-bottom: 10px;
  ;

}

.p {
  color: white;
  display: flex;
  margin-left: 10px;
  font-weight: bolder;

}

.inputContainer {
  /* border: 2px solid red; */
  height: 30vh;
  border-bottom: 1px solid white ;
}

.tweetContainer {
  /* border: 2px solid blue; */
  height: 70vh;
}